################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ascii 3d
/.idea/.idea.ascii 3d
